.mainContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photoContainer{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    margin-top: 100px;
    width: 60%;
}

.postButtonContainer span{
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
}

.postButtonContainer span:nth-child(2){
    font-weight: 400;
    font-size: 15px;
}