.mainContainer {
  width: 70%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  cursor: default;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardContainer h4 {
  margin-top: 10px;
  font-size: 18px;
}

.album li {
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}
